nav {
    #navbarCollapse {
        justify-content: center;
    }
    .nav-lavori {
        margin-top: 0;
    }
    margin-top: 85px;
    padding: 1em 25em !important;
    background-color: #f1f6fc;
    .navbar-brand {
        font-size: 1.8em;
        letter-spacing: 6.5px;
        color: #000000 !important;
    }
    .navbar-toggler {
        border: none !important;
        span {
            color: #000000 !important;
        }
    }
    div {
        div {
            a {
                margin: 0 3em;
                font-size: 1.4em;
                color: #000000 !important;
            }
            #lavori {
                color: #000000 !important;
                border-radius: 3px;
                font-weight: 500;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    nav {
        padding: 1em 1em !important;
        margin-top: 78px;
        .navbar-brand {
            font-size: 1.5em;
            letter-spacing: 1.5px;
        }
        div > div {
            margin-top: 1em;
            a {
                text-align: center;
                font-size: 1.3em;
                padding: 0.7rem;
                font-weight: 500;
            }
        }
    }
}