.s6 {
    background: #f1f6fc;
    .left-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        h1 {
            max-width: 100%;
            color: #212529;
            margin-bottom: .5em;
            text-align: center;
            font-size: 2.5vw;
        }
        h2 {
            text-align: center;
        }
        .work {
            max-width: 45%;
            border-radius: 20px;
            background: #F1F6FC;
            box-shadow: $shadows;
            padding: 1em 2em;
            min-height: 35%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .centrato {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img {
                max-width: 65%;
                min-height: 100%;
            }
            #img-zeppola {
                max-width: 45%;
            }
        }
        input {
            min-width: 20%;
            padding: 0 1em;
            line-height: 40px;
            border: none;
            border-radius: 7px;
            color: #212529;
            background: #F1F6FC;
            font-weight: 600;
            box-shadow: $shadows;
        }
    }
}

@media only screen and (max-width: 768px) {
    .s6 {
        .left-section {
            flex-direction: column !important;
            h1 {
                font-size: 8.5vw;
            }
            h2 {
                font-size: 5vw;
            }
            .work {
                max-width: 100%;
            }
            input {
                box-shadow: 8px 8px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
            }
        }
    }
}