.s4 {
    background-color: #f1f6fc;
    div {
        .left-section {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            .text-left {
                display: flex;
                flex-direction: column;
            }
            .img {
                padding: 1em;
                max-width: 100%;
                max-height: 100%;
                border-radius: 15px;
                background: #f1f6fc;
                box-shadow:  20px 20px 15px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 5px #D2D2Dc;
                transform: rotate(0deg);

                img {
                    max-width: 100%;
                }
            }
            h1 {
                font-size: 9em;
                text-align: center;
                color: #CF649A;
            }
            ul {
                list-style-type: none;
                text-align: center;
                line-height: 45px;
                font-weight: 500;
                li {
                    font-size: 1.3em;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .s4 {
        div {
            .left-section {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column !important;
                .img {
                    max-width: 70%;
                    border-radius: 19px;
                    background: #f1f6fc;
                    box-shadow:  20px 20px 15px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 5px #D2D2Dc;
                    transform: rotate(0deg) !important;
                }
                h1 {
                    font-size: 3.6em !important;
                }
            }
        }
    }
}