.s7 {
    background: #f1f6fc;
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left-section {
        img {
            width: 90%;
            box-shadow: $shadows;
            background: #f1f6fc;
        }
    }
    .right-section {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        h1 {
            font-size: 4rem;
            font-weight: 700;
        }
        span {
            font-weight: 600;
        }
    }
}

@media only screen and (max-width: 768px) {
    .s7 {
        .right-section {
            .text {
                height: 300px;
                overflow: scroll;
            }
        }
    }
} 