.s3 {
    background-color: #ffffff;
    
    div {
        .left-section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            div {
                max-width: 100%;
                max-height: 100%;
                border-radius: 15px;
                background: #F7F7F7;
                box-shadow:  50px 50px 49px #d2d2d2, 
                            -50px -50px 49px #ffffff;
                transform: rotate(-2deg);

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
        
        .right-section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1 {
                font-size: 9em;
                text-align: center;
                #sass {
                    color: #CF649A;
                }
            }

            ul {
                list-style-type: none;
                text-align: center;
                line-height: 45px;
                font-weight: 500;

                li {
                    font-size: 1.3em;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .left-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            font-size: 5.2em !important;
            #html {
                color: #EB5E28;
            }
            #css {
                color: #2965F1;
            }
        }
    }

    .right-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        div {
            max-width: 100%;
            margin-top: -200px;
            img {
                max-width: 100%;
            }
        }
    }
}