.s1 {
    background: #f1f6fc;
    #first-section {
        .center-test {
            justify-content: center;
            align-items: center;
            color: #2F2F2F;
            flex-direction: column;
            margin-bottom: 100px;
            img {
                max-width: 100%;
            }
            h2 {
                text-align: center;
                margin-top: 1em;
                margin-bottom: 1em;
            }
            input {
                box-shadow: 8px 8px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
                background-color: #f1f6fc;
                border: none;
                padding: 1em;
                color: #2F2F2F;
                font-weight: 600;
                border-radius: 7px;
            }
        }
    }
    
    @media only screen and (max-width: 768px) {

    }
}