$pd: 1em;
$padding-page: 25em;
$blu-scuro: #482ff7;
$blu-medio: #2d6cdf;
$blu-chiaro: #46c3db;
$giallo: #f3f169;

// colori minimal

$color-orange: #EB5E28;
$grigio-scuro: #252422;
$grigio-medio: #403D39;
$grigio-chiaro: #CCC5B9;
$bianco-panna: #FFFCF2;