nav {
  margin-top: 85px;
  padding: 1em 25em !important;
  background-color: #f1f6fc;
}

nav #navbarCollapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav-lavori {
  margin-top: 0;
}

nav .navbar-brand {
  font-size: 1.8em;
  letter-spacing: 6.5px;
  color: #000000 !important;
}

nav .navbar-toggler {
  border: none !important;
}

nav .navbar-toggler span {
  color: #000000 !important;
}

nav div div a {
  margin: 0 3em;
  font-size: 1.4em;
  color: #000000 !important;
}

nav div div #lavori {
  color: #000000 !important;
  border-radius: 3px;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  nav {
    padding: 0 1em !important;
    margin-top: 78px;
  }
  nav .navbar-brand {
    font-size: 1.5em;
    letter-spacing: 1.5px;
  }
  nav div > div {
    margin-top: 1em;
  }
  nav div > div a {
    text-align: center;
    font-size: 1.3em;
    padding: 0.7rem;
    font-weight: 500;
  }
}

.s1 {
  background: #f1f6fc;
}

.s1 #first-section .center-test {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2F2F2F;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s1 #first-section .center-test img {
  max-width: 100%;
}

.s1 #first-section .center-test h2 {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.s1 #first-section .center-test h1 {
  font-size: 4em;
}

.s1 #first-section .center-test h4 {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .s1 #first-section .center-test h2 {
    font-size: 1em;
  }
  .s1 #first-section .center-test img {
    margin-top: -40px;
  }
}

.s2 {
  background-color: #f1f6fc;
}

.s2 div .left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.s2 div .left-section .text-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s2 div .left-section .img {
  padding: 1em;
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  background: #f1f6fc;
  -webkit-box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
          box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
}

.s2 div .left-section .img img {
  max-width: 100%;
}

.s2 div .left-section h1 {
  font-size: 6vw;
  color: #212529;
  text-align: center;
}

.s2 div .left-section h1 #html {
  color: #EB5E28;
}

.s2 div .left-section h1 #css {
  color: #2965F1;
}

.s2 div .left-section ul {
  list-style-type: none;
  text-align: center;
  line-height: 45px;
  font-weight: 500;
}

.s2 div .left-section ul li {
  font-size: 1.3em;
  padding: 0 1em;
}

@media only screen and (max-width: 1281px) {
  .s2 div .left-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    padding: 1em 0;
  }
  .s2 div .left-section .img {
    border-radius: 19px;
    background: #f1f6fc;
    -webkit-box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
            box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
  }
  .s2 div .left-section h1 {
    font-size: 3.6em !important;
  }
  .s2 div .left-section h1 #html {
    color: #EB5E28;
  }
  .s2 div .left-section h1 #css {
    color: #2965F1;
  }
  .s2 div .left-section ul li {
    font-size: 1rem;
  }
}

.s3 {
  background-color: #f1f6fc;
}

.s3 div .left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.s3 div .left-section .text-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s3 div .left-section .img {
  padding: 1em;
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  background: #f1f6fc;
  -webkit-box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
          box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
}

.s3 div .left-section .img img {
  max-width: 100%;
}

.s3 div .left-section h1 {
  font-size: 6vw;
  color: grey;
  text-align: center;
  color: #7952B3;
}

.s3 div .left-section ul {
  list-style-type: none;
  text-align: center;
  line-height: 45px;
  font-weight: 500;
}

.s3 div .left-section ul li {
  font-size: 1.3em;
  padding: 0 1em;
}

@media only screen and (max-width: 1281px) {
  .s3 div .left-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    padding: 1em 0;
  }
  .s3 div .left-section .img {
    border-radius: 19px;
    background: #f1f6fc;
    -webkit-box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
            box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
  }
  .s3 div .left-section h1 {
    font-size: 3.6em !important;
  }
  .s3 div .left-section ul li {
    font-size: 1rem;
  }
}

.s4 {
  background-color: #f1f6fc;
}

.s4 div .left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.s4 div .left-section .text-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s4 div .left-section .img {
  padding: 1em;
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  background: #f1f6fc;
  -webkit-box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
          box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.s4 div .left-section .img img {
  max-width: 100%;
}

.s4 div .left-section h1 {
  font-size: 6vw;
  text-align: center;
  color: #CF649A;
}

.s4 div .left-section ul {
  list-style-type: none;
  text-align: center;
  line-height: 45px;
  font-weight: 500;
}

.s4 div .left-section ul li {
  font-size: 1.3em;
  padding: 0 1em;
}

@media only screen and (max-width: 1281px) {
  .s4 div .left-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    padding: 1em 0;
  }
  .s4 div .left-section .img {
    max-width: 70%;
    border-radius: 19px;
    background: #f1f6fc;
    -webkit-box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
            box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
  }
  .s4 div .left-section h1 {
    font-size: 3.6em !important;
  }
  .s4 div .left-section ul li {
    font-size: 1rem;
  }
}

.s5 {
  background-color: #f1f6fc;
  text-align: center;
  height: 100vh;
}

.s5 .row .left-section {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 0;
  margin: 0 0 5em 0;
}

.s5 .row .left-section h1 {
  font-size: 10em;
}

.s5 .row .left-section img {
  padding: 1em;
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  background: #f1f6fc;
  -webkit-box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
          box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
}

@media only screen and (max-width: 768px) {
  .s5 .left-section h1 {
    font-size: 4em !important;
  }
  .s5 .left-section img {
    width: 100%;
  }
}

.s6 {
  background: #f1f6fc;
}

.s6 .left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s6 .left-section h1 {
  max-width: 100%;
  color: #212529;
  margin-bottom: .5em;
  text-align: center;
  font-size: 2.5vw;
}

.s6 .left-section h2 {
  text-align: center;
}

.s6 .left-section .work {
  max-width: 45%;
  border-radius: 20px;
  background: #F1F6FC;
  -webkit-box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
          box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
  padding: 1em 2em;
  min-height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s6 .left-section .centrato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s6 .left-section .centrato img {
  max-width: 65%;
  min-height: 100%;
}

.s6 .left-section .centrato #img-zeppola {
  max-width: 45%;
}

.s6 .left-section input {
  min-width: 20%;
  padding: 0 1em;
  line-height: 40px;
  border: none;
  border-radius: 7px;
  color: #212529;
  background: #F1F6FC;
  font-weight: 600;
  -webkit-box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
          box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
}

@media only screen and (max-width: 768px) {
  .s6 .left-section {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .s6 .left-section h1 {
    font-size: 8.5vw;
  }
  .s6 .left-section h2 {
    font-size: 5vw;
  }
  .s6 .left-section .work {
    max-width: 100%;
  }
  .s6 .left-section input {
    -webkit-box-shadow: 8px 8px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
            box-shadow: 8px 8px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
  }
}

.s7 {
  background: #f1f6fc;
  height: 100vh;
}

.s7 .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 1em;
}

.s7 .center h1 {
  font-size: 4rem;
  font-weight: 700;
}

.s7 .center span {
  font-weight: 600;
}

.s7 .center #img-chisono img {
  width: 90%;
  -webkit-box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
          box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
  background: #f1f6fc;
}

.s7 .center #paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .s7 .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s7 .center #paragraph h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  .s7 .center #paragraph h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .s7 .center #paragraph .text {
    height: 200px;
    overflow: scroll;
  }
  .s7 .center #img-chisono img {
    min-width: 100%;
    margin-bottom: 10px;
  }
}

.s8 {
  background: #f1f6fc;
}

.s8 .left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s8 .left-section .form {
  margin-bottom: 3em;
  padding: 4em 2em;
  display: -ms-grid;
  display: grid;
  min-width: 30%;
  border-radius: 15px;
  background: #f1f6fc;
  -webkit-box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
          box-shadow: 20px 20px 12px #D2D2DC, -15px -15px 20px #FFFFFF, 3px 3px 4px #D2D2Dc;
}

.s8 .left-section .form form .back-email {
  border-radius: 7px;
  background: #f1f6fc;
  -webkit-box-shadow: -15px -15px 20px #FFFFFF, 7px 7px 15px #D2D2DC, 3px 3px 5px #D2D2Dc;
          box-shadow: -15px -15px 20px #FFFFFF, 7px 7px 15px #D2D2DC, 3px 3px 5px #D2D2Dc;
  padding: .5em 1em;
}

.s8 .left-section .form h1 {
  padding-bottom: 1.5em;
}

.s8 .left-section .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 2em;
}

.s8 .left-section .social-link img {
  width: 100px;
  height: 100px;
}

@media only screen and (max-width: 768px) {
  .s8 .left-section .form {
    width: 100%;
  }
  .s8 .left-section .form form h3 {
    font-size: 4.2vw;
  }
  .s8 .left-section .form form .back-email {
    width: 100%;
  }
  .s8 .left-section .social-link img {
    width: 70px;
    height: 70px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.row {
  height: 100% !important;
  width: 100%;
  padding: 0 !important;
  margin: 0;
}

.col-md {
  padding: 0 !important;
  width: 100% !important;
}

#fullpage {
  height: 100%;
}

#fp-nav ul li .fp-tooltip {
  color: #212529;
}

@media only screen and (max-width: 768px) {
  #fp-nav {
    display: none;
  }
}
/*# sourceMappingURL=layout.css.map */